.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 30px 20px;
  flex-grow: 1;
  
  /* height: 100%; */
  /* background-color: turquoise; */
}

.basket {
  flex-grow: 1;
}

.link {
  font-size: 20px;
  font-weight: 600;
  color: cornflowerblue;
  text-decoration: none;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}